{% import "_includes/forms" as forms %}

{{ forms.textField({
  label: "Input Mask"|t,
  instructions: "regex pattern that the input must match. See [php manual](http://php.net/manual/en/reference.pcre.pattern.syntax.php) for syntax. Example: '/^\\d{5}(-\\d{4})?$/' to match a zip-code"|t,
  id: 'inputMask',
  name: 'inputMask',
  value: field.inputMask,
  translatable: true,
  errors: field.getErrors('inputMask')
}) }}

{{ forms.textField({
  label: "Error Message"|t,
  instructions: "Error message when pattern does not match field"|t,
  id: 'errorMessage',
  name: 'errorMessage',
  value: field.errorMessage,
  translatable: true,
  errors: field.getErrors('errorMessage')
}) }}

{# below here straight from _components/fieldtypes/PlainText/settings.html #}

{{ forms.textField({
  label: "Placeholder Text"|t,
    instructions: "The text that will be shown if the field doesn’t have a value."|t,
  id: 'placeholder',
  name: 'placeholder',
  value: field.placeholder,
  translatable: true,
  errors: field.getErrors('placeholder')
}) }}

{{ forms.textField({
  label: "Max Length"|t,
  instructions: "The maximum length of characters the field is allowed to have."|t,
  id: 'maxLength',
  name: 'maxLength',
  value: field.maxLength,
  size: 3,
  errors: field.getErrors('maxLength')
}) }}

{{ forms.checkboxField({
  label: "Allow line breaks"|t,
  name: 'multiline',
  checked: field.multiline,
  toggle: 'initialRowsContainer'
}) }}


<div id="initialRowsContainer" class="nested-fields{% if not field.multiline %} hidden{% endif %}">
  {{ forms.textField({
    label: "Initial Rows"|t,
    id: 'initialRows',
    name: 'initialRows',
    value: field.initialRows,
    size: 3,
    errors: field.getErrors('initialRows')
  }) }}
</div>
